<div class="flex gap-4 w-full py-4 px-8 border-b justify-between items-center">
  <div class="w-96 relative">
    <button
      class="absolute left-2 top-0 mt-2 mr-3 focus:outline-none"
      id="searchButton">
      <lucide-icon name="search"></lucide-icon>
    </button>
    <input
      type="text"
      class="bg-white w-full px-10 py-2 border border-gray-300 rounded-lg transition-all duration-300"
      placeholder="Search..."
      id="searchInput" />
  </div>

  <div class="flex justify-between items-center">
    <div class="flex items-center gap-4">
      <div class="flex items-center">
        <button class="relative">
          <lucide-icon
            name="heart-icon"
            strokeWidth="1"
            [size]="24"
            class="flex items-center"></lucide-icon>

          <div
            class="absolute flex items-center justify-center -top-0.5 text-center p-1 -right-0.5 w-4 h-4 text-white text-xs bg-black rounded-full">
            2
          </div>
        </button>
      </div>

      <div class="flex items-center">
        <button class="relative">
          <lucide-icon
            name="bell"
            strokeWidth="1"
            [size]="24"
            class="flex items-center"></lucide-icon>
          <div
            class="absolute flex items-center justify-center -top-0.5 text-center p-1 -right-0.5 w-4 h-4 text-white text-xs bg-black rounded-full">
            2
          </div>
        </button>
      </div>
      <div class="h-8 w-8 rounded-full bg-gray-400"></div>
    </div>
  </div>
</div>
