<div class="flex flex-col items-center p-2">
  <div class="relative overflow-hidden">
    <img
      [src]="album.images"
      class="max-w-64 max-h-64 h-full w-full"
      [alt]="album.title"
      style="aspect-ratio: 1/1" />

    <div
      class="absolute inset-0 bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-20 flex items-center justify-center flex-col">
      @if(isFavorite(album.id) | async) {
      <button
        class="p-2 w-10 h-10 bg-white rounded-full"
        (click)="removeToFavorites(album.id)">
        <mat-icon
          aria-hidden="true"
          aria-label="favorite icon"
          fontIcon="favorite"
          color="accent"></mat-icon>
      </button>
      } @else {
      <button
        class="p-2 w-10 h-10 bg-white rounded-full"
        (click)="addToFavorites(album)">
        <mat-icon
          aria-hidden="true"
          aria-label="favorite icon"
          fontIcon="favorite_border"></mat-icon>
      </button>
      }
      <p class="text-xl mt-1 font-light text-center text-white">
        {{ album.songs.length }} Songs
      </p>
    </div>
  </div>
  <div class="mt-4">
    <p class="text-xl font-bold text-center">
      <a [routerLink]="['/albums/', album.id]" [title]="album.title"
        >{{ album.title }}</a
      >
    </p>
  </div>
</div>
