@for (song of album.songs; track song.title) {
<div
  class="flex items-center justify-between py-2 px-4 border-b border-gray-200">
  <div class="flex items-center">
    <img
      [src]="album.images"
      [alt]="album.title"
      class="w-8 h-8 rounded-full" />
    <div class="ml-3">
      <p class="text-sm">{{song.title}}</p>
      <p class="text-xs text-gray-500">{{song.length}}</p>
    </div>
  </div>

  @if(isFavorite(song.title) | async) {
  <button (click)="removeToFavorites(song.title)">
    <lucide-icon name="heart-icon" strokeWidth="1" size="16"></lucide-icon>
  </button>

  } @else {
  <button (click)="addToFavorites(song)">
    <lucide-icon name="heart-icon" strokeWidth="1" size="16"></lucide-icon>
  </button>
  }
</div>
}
