<aside class="flex h-screen bg-gray-900 sticky top-0 z-50">
  <!-- Sidebar -->
  <div class="bg-white w-64 flex-shrink-0 shadow">
    <div class="p-4 flex items-center justify-between">
      <div class="text-gray-900 text-2xl font-semibold">
        <a routerLink="/">Sound</a>
      </div>
    </div>
    <nav class="mt-2">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="flex items-center gap-2 px-4 py-4 font-medium text-gray-900 hover:bg-gray-100">
        <mat-icon
          aria-hidden="false"
          aria-label="home icon"
          fontIcon="home"></mat-icon>
        Home
      </a>

      <a
        routerLink="/favorites"
        routerLinkActive="active"
        class="flex items-center gap-2 px-4 py-4 font-medium text-gray-900 hover:bg-gray-100">
        <mat-icon
          aria-hidden="true"
          aria-label="favorite icon"
          fontIcon="favorite_border"></mat-icon>
        Favorites
      </a>
    </nav>
  </div>
</aside>
