<div class="flex mb-6 gap-2 items-center">
  <h1 class="font-medium text-2xl">Albums</h1>

  <button type="button" (click)="openDialog()" class="flex items-center gap-2">
    <mat-icon
      aria-hidden="true"
      aria-label="add icon"
      fontIcon="add_circle"></mat-icon>
  </button>
</div>

<mat-card>
  <mat-card-content>
    <div class="flex flex-col">
      <div class="flex gap-4 flex-wrap">
        @for (album of albums$ | async; track album.title) {

        <app-album-list
          [album]="album"
          [addToFavorites]="onAddToFavoritesAlbum"
          [removeToFavorites]="onRemoveToFavoritesAlbum"
          [isFavorite]="isFavorite"></app-album-list>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
